@font-face {
	font-family: 'franklin-gothic-urw';
	font-style: normal;
	font-weight: normal;
	src: local('LibreFranklin-Medium'), local('libre-franklin-medium'), url(/fonts/LibreFranklin-Medium.otf);
}
