// Typography

// Fonts
$font-sans = franklin-gothic-urw, sans-serif
$font-sans-light = franklin-gothic-urw, sans-serif
$font-sans-bold = franklin-gothic-urw, sans-serif
$font-serif = franklin-gothic-urw, sans-serif
$primary-font-family = $font-sans
$secondary-font-family = $font-sans
$monospaced-font-family = Monaco, Lucida Console, monspace
